<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG Session Test Automation Suite">

    <test name="Different testing Feature Test">

        <classes>
            <class name="GoogleTest" />
            <class name="testngBasics" />
            <class name="TestNgFeatures" />
        </classes>
    </test>
</suite>